.footer-block {
  background-color: $footerBlack;
  padding: 5.8% 7.9% 3.2% 7.3%;
  margin-top: 8.2%;

  @include large {
    padding: 5.8% 4% 3.2% 4%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  @include small {
    padding-left: 8px;
    padding-top: 53px;
    padding-bottom: 20px;
  }

  &_mt {
    margin-top: 2.9%;

    @include large {
      position: static;
    }

    @include small {
      margin-top: 37px;
    }
  }

  &__text {
    font-size: 11px;
    line-height: 12.89px;
    margin-top: 40px;

    @include small {
      margin-top: 39px;
    }
  }

  &__logo-block {
    margin-bottom: 39.5px;

    @include small {
      margin-bottom: 39px;
    }
  }
}