.header-block {
  background-color: $whiteColor;
  padding: 19px 49px 15px 19px;
  box-shadow: -2px 15px 15px -3px #E5E5E5;
  margin-bottom: 8.3%;

  @include small {
    padding: 0 4px 15px 7px;
  }

  &__logo-block {
    margin: 8px 0 0 24px;

    @include medium {
      margin: 0;
    }

    @include small {
      margin-top: 24px;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__registration {
    font-weight: 500;
    font-size: 13px;

    @include small {
      font-size: 11px;
      line-height: 12.89px;
      margin-top: 17px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;

    @include small {
      padding-left: 0;
    }
  }

  &__list-item {
    display: inline-block;
  }

  &__sign-in, &__register {
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    margin-left: 13px;

    &:hover {
      border-color: transparent;
      background-color: $greenColor;
      color: $whiteColor;
    }
  }

  &__sign-in {
    color: inherit;
    border: 1px solid $lightGrey;
    padding: 8px 19px;

    @include small {
      padding: 12px 20px 14px 17px;
      margin-left: 9px;
    }
  }

  &__register {
    color: $whiteColor;
    background-color: #262626;
    padding: 8px 15px 8px 17px;

    @include small {
      padding: 13px 15px 14px 16px;
      margin-left: 9px;
    }
  }
}